/* Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Signika+Negative:wght@700&display=swap');

/* variables */
:root{
    --header-height : 3em;
    --font-semi : 600;
}
/* colors */
:root{
    --first-color : #4070f4;
    --second-color : #0e2431;
    --gradient-color : linear-gradient(to right,#5001fb,#8e0af3);
}
/* font size */
:root{
    --body-font : 'Poppins', sans-serif;
    --big-font-size : 2rem;
    --h2-font-size : 1.5rem;
    --normal-font-size : 0.938rem;

}

/* Media screen min-width : 768px */
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 3.5rem;
        --h2-font-size : 2rem;
        --normal-font-size : 1rem;
    }
}

/* margins */
:root{
    --mb-1:0.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
    --mb-5:2.5rem;
    --mb-6:3rem; 
}

/* z-index */
:root{
    --z-back:-10;
    --z-normal: 1;
    --z-tooltip : 10;
    --z-fixed : 100;
}

/* Base */
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1,h2,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* css classes */
.bd_grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);

}

/* navbar */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px){
    .nav_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding:2rem;
        background-color: var(--second-color);
        transition: 0.5s;
    }
}

.nav_items{
    margin-bottom: var(--mb-4);
}

.nav_link{
    position: relative;
    color: #fff;
}

.nav_link:hover{
    position: relative;
}
.nav_link:hover::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: var(--first-color);
}

.nav_logo{
    color: var(--second-color);
} 

.nav_toggle{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* Active Menu */

.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: var(--first-color);
}

.show{
    right: 0;
}